extensions:
    prooph: LidskaSila\Prooph\ProophExtension

prooph:
	asynchronous_messaging:
		queries:
			bridge: "@producerBridge"
			routes:
				MessageName: producerRouteKey

services:
	producerBridge: LidskaSila\Prooph\Tests\AsynchronousMessages\FakeImplementations\TestAsynchronousMessageProducerBridge
	- Prooph\Common\Messaging\NoOpMessageConverter
