extensions:
    prooph: LidskaSila\Prooph\ProophExtension

prooph:
	event_sourcing:
		aggregate_repository:
			test_repository:
				repository_class: LidskaSila\Prooph\Tests\EventSourcing\FakeImplementations\MemoryTestRepository
				aggregate_type: LidskaSila\Prooph\Tests\EventSourcing\FakeImplementations\TestAggregateRoot
				aggregate_translator: Prooph\EventSourcing\EventStoreIntegration\AggregateTranslator
				one_stream_per_aggregate: true

	event_store:
		use:
			config: default
			factory: Prooph\EventStore\Container\InMemoryEventStoreFactory
		default:
			plugins:
				- Prooph\EventStoreBusBridge\EventPublisher

services:
	- Prooph\EventSourcing\EventStoreIntegration\AggregateTranslator
	- Prooph\EventStoreBusBridge\EventPublisher
	- Prooph\Common\Messaging\FQCNMessageFactory
